input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }

.checkout{
  display: flex;
  flex-direction: column;
  padding: 1pc;
}
.store-header {
  grid-area: header;
  background-color: #ffffff;
  color: #000000;
  padding: 1.5pc 3pc;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1pc;
  }

  form{
    padding: 1pc 15pc;
    color: white;
  }

  .centering{
    display: flex;
    gap: 1pc;
    align-items: center;
    justify-content: center;
  }

  .final{
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    background: #212529;
    margin: 8pc;
    color: white;
    align-items: center;
    position: absolute;
    border-radius: 2pc;
    width: -webkit-fill-available;
    justify-content: center;
  }

  h3{
    color: #000000;
    font-size: 1.5rem;
    margin: 0;
  }
