<!-- src/app/store/store.component.html -->
<div class="store">
  <header class="store-header">
    <h1>Sports Store</h1>
    <div *ngIf="cartItemCount === 0">
      Your cart (empty)
    </div>
    <div class="cart-info" *ngIf="cartItemCount > 0">
      Your cart: {{ cartItemCount }} item(s) - {{ cartTotalPrice.toFixed(2) | currency }}
    </div>
  </header>

    <aside class="categories">
      <button (click)="resetCategory()">Home</button>
      <button *ngFor="let category of categories" (click)="filterByCategory(category)">
        {{ category }}
      </button>
    </aside>

    <app-product-list [products]="products" (addToCart)="addToCart($event)"></app-product-list>


    <div class="pagination">
      <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <div class="page-numbers">
        <button *ngFor="let page of pageNumbers" (click)="setPage(page)"
          [class.active]="page === currentPage">
          {{ page }}
        </button>
      </div>
      <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>

</div>
