.cart{
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #434343;
  flex-direction: column;
}

.cart-summary{
    display: flex;
    flex-direction: row;
    gap: 1pc;
    border-radius: 1pc;
    width: auto;
    padding: 3pc;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.table-div{
  display: flex;
  flex-direction: column;
  padding: 2pc;
  border-radius: 2pc;
  background-color: white;
  width: 100%;
}

.store-header {
  grid-area: header;
  background-color: #ffffff;
  color: #000000;
  padding: 1.5pc 3pc;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1pc;
  }

  .big-text{
    text-align: center;
  }

  .alt-title{
    display: flex;
    background: #007bff;
    font-size: 3pc;
  }

  .cart-container{
    display: flex;
    justify-content: center;
    padding: 1pc;
    flex-direction: row;
  }

  h3{
    text-align: center !important;
    color: #ffffff;
    font-size: 1.5rem;
  }

  .black{
    color: #000000 ;
  }

  .bold{
    font-weight: bold;
  }
